[2014-06-30 16:25] tonylukasavage opened #4 "Documentation"
The docs are obviously lacking, making it hard to analyze it. I'd like to see the following, but the list is not comprehensive:
- [x] Clearer description of exactly what it does and what problem its solves
- [x] Usage documentation
- [x] Examples, and details on whether their generation
- [x] What are the caveats? What can't it do? (I'm probably most interested in this)
- [x] On which mobile platf

[2014-07-01 15:05] tonylukasavage opened #5 "CLI"
I love grunt, but before tying into a bunch of build systems, it seems more important to give this tool its own CLI. This will allow for better docs, clearer usage, and tie-ins to any build chain, be it 3rd party or custom.

[2014-09-03 20:18] yuchi opened #7 "Shim built-ins and globals"
Now that @tonylukasavage is doing a terrific job at shimming built-ins for Titanium, let’s include:
- [x] [`console`](http://nodejs.org/api/console.html) with [`ti-console`](https://github.com/tonylukasavage/ti-console) instead of our [only partial homebreed solution](https://github.com/smclab/titaniumifier/blob/master/lib/globals/console.js)
- [x] [`vm`](http://nodejs.org/api/vm.html) with [`vm-t

[2014-10-30 21:23] FokkeZB opened #8 "Error when using titaniumifier on htmlparser2"
I try to use titaniumifier on [htmlparser2](https://github.com/fb55/htmlparser2) but I get the following error:

[code]

Not very helpful I know... any clue? I'm using the [ti-superagent](https://github.com/smclab/ti-superagent) project and simply replaced "superagent" with "htmlparser2" ;)

[2014-10-31 22:15] #8 closed, assigned to yuchi

[2014-11-03 07:45] FokkeZB opened #9 "The `as` option overrides the module's directory name but not `moduleid`"
I want the moduleid of https://github.com/FokkeZB/ti-html2as to be different (`nl.fokkezb.html2as`) from the NPM package name (`ti-html2as`). In the `Gruntfile.js` I use the `as` option:

[code]

This correctly names the directory name of the module `nl.fokkezb.html2as` but the `moduleid` property in the `manifest` file is still `ti-html2as` and this is how it shows up on gitt.io. In the example p

[2014-11-04 17:17] #9 closed, assigned to yuchi

[2014-11-09 21:24] FokkeZB opened #10 "Support using a separate name from the moduleid"
Right now I get the same moduleid and name for the module:
https://github.com/FokkeZB/ti-html2as/blob/master/example/modules/commonjs/nl.fokkezb.html2as/1.0.0/manifest

Is there any way I can specify an alternative name?

[2014-11-19 14:34] sukima opened #11 "Gulp is a no-op (That"
Since the Gulp API handles promises you can call the titaniumifier API directly and return it's result inside a gulp task. This is line with how browserify integrate with Gulp and doesn't actually need a Gulp plugin:

Something like:

[code]

[2014-11-24 21:37] #4 closed, assigned to nobody

[2014-11-28 12:24] #10 closed, assigned to nobody

[2014-11-29 20:52] yuchi opened #13 "Manage (and merge) nativeDependencies"
This is both for @smclab and @FokkeZB.

By now we’re already excluding from bundling every module defined in `nativeDependencies`.

So what you get is something like the following:

package.json:

[code]

and that means that when you do the following **without** `liferay-connector` installed, it will throw

ti-cool-module.js

[code]
## Issue n.1 — see #14

If a module requires a module which has a

[2014-11-29 21:00] yuchi opened #14 "Merge descendant’s `nativeDependencies` once traversed"
(See #13)

Given the following (fictious) dependency graph

[code]

There’s nothing in the build process which tells us about `it.smc.softkeyboard`.

We need to parse all the `package.json` of traversed packages to discover them.

[2014-11-29 22:31] yuchi opened #15 "Switch from `when` to `bluebird`"

[2014-11-29 22:44] yuchi opened #16 "Upgrade to latest browserify (6.x)"
- [x] Smoke tests
- [x] Check built-ins
- [x] Check globals
- [x] Prelude

[2014-11-30 00:29] #16 closed, assigned to nobody

[2014-11-30 00:29] #7 closed, assigned to nobody

[2014-11-30 00:34] yuchi opened #17 "Use grunt for tests and lint"

[2014-11-30 00:35] yuchi opened #18 "Use ti-mocha and grunt-titanium to launch tests on simulators"

[2014-11-30 00:35] yuchi opened #19 "Provide better documentation on tests"
And probably make a PR to every titaniumified module including grunt-titanium tests boilerplate

[2014-12-01 15:50] yuchi opened #20 "Support module assets"
Hihi, this is going to be tough. See how `os-titanium` requires `__context.js` to be in a specific position.

In theory modules can have assets… does it work for CommonJS ones?

/cc @tonylukasavage @FokkeZB

[2014-12-04 09:46] #17 closed, assigned to nobody

[2014-12-06 02:23] yuchi opened #22 "Refactoring checklist"
Some ideas to triage/implement

- [x] support for **jumped requires**, in _prelude.js_ we can check for `require.length === 2` to avoid errors
- [x] we can refactor the code to be **more correctly decoupled** (we’re almost there):
  - [x] `titaniumifier/manifest` gets a _package.json_ and gives back a _manifest_
  - [x] `titaniumifier/bundle` is just a preconfigured `browserify` (similar to deprec

[2014-12-06 02:33] yuchi opened #23 "Support for Studio debugging (Source Maps)"
We already tackled part of the problem in the [smclab/it.smc.titanium.npmify.core](https://github.com/smclab/it.smc.titanium.npmify.core/) repo.

See this [friendly Java file](https://github.com/smclab/it.smc.titanium.npmify.core/blob/master/src/it/smc/titanium/core/sourcemap/BrowserifySourceMap.java). `</irony>`

[2014-12-07 12:21] #18 closed, assigned to nobody

[2014-12-11 08:07] FokkeZB opened #24 "Zip files contain entryName's incompatible with gitTio"
@rborn reported that `nl.fokkezb.html2as` could not be installed via gitTio. I did some tracing and saw this:

[code]

The `zipFile` is the temporary path where the zip was downloaded. For each file the `tmpDir` is concatenated with `entry.entryName`, resulting in `file` as the path where the file will be extracted. In the zips created when distributing a native Titanium module the `entryName` doe

[2014-12-11 09:08] #24 closed, assigned to nobody

[2014-12-11 22:03] #14 closed, assigned to nobody

[2014-12-11 22:15] #13 closed, assigned to nobody

[2014-12-14 15:42] yuchi opened #25 "Support for `docs` and `example` folders"
We completely forgot that good modules also have an `example` and `docs` directory. They are bundled in the zip and used for example by gitTio to launch an example app.

[2014-12-16 00:13] yuchi opened #26 "Check resulting zip files"
During private conversation @balanza told me he had issues uploading a resulting zipfile to GitHub.

Must investigate.

[2014-12-16 12:07] #26 closed, assigned to nobody

[2014-12-16 12:53] balanza opened #27 "gitTio might not index titaniumified modules"
Hi,

I red [gitTio documentation](http://gitt.io/contributors) about how to contribute, it came out it uses *manifest* to seek and index modules from repos. As titaniumifier build a zip file, manifest is not exposed (better said: it might not be exposed *if* gitTio behaviour is not to dig into zip file, and I guess it isn't).
Evidence of that is I found no titaniumified modules in gitTio (such a s

[2014-12-22 14:23] #5 closed, assigned to nobody

[2014-12-23 19:23] yuchi opened #28 "Shouldn’t leak building setup paths"
As @Anatidae-Project reported in smclab/ti-superagent#7 in some case we’re leaking the path to the shims.

This is not desirable.

[2014-12-29 19:44] #15 closed, assigned to nobody

[2014-12-30 23:37] #28 closed, assigned to nobody

[2015-01-05 11:43] #27 closed

[2015-01-05 20:44] yuchi opened #29 "Zipfile should have lower case names"
See https://github.com/balanza/Ti.Parse/releases

[2015-01-06 01:42] dbankier opened #30 "option to minify output"
can we add minification?

[2015-01-06 12:01] yuchi commented on #30
This is tricky. The titanium build process (in production mode) minifies your app files, but I had no time to see if that happens for modules too. If this is true then minifying just poses an obstacle to debugging.

[2015-01-06 21:34] dbankier commented on #30
Sure. But it would be nice to have an option/flag to minify when publishing a new version.

[2015-01-08 16:29] yuchi commented on #30
Now I see. You’re using titaniumifier in `nano` to build your zip **and then** extracting it to have a simpler distributable file.

I’ll solve it by updating the APIs and the Grunt plugin, so you don’t have to do it manually.

[2015-01-08 20:34] dbankier commented on #30
thanks

[2015-01-09 04:10] dbankier commented on #30
(just an FYI - titaniumified modules didn't work tishadow. I just fixed that in tishadow master - due for next release)

[2015-01-09 08:54] yuchi commented on #30
Is that because we have `requires` all around the place, but you need to reimplement just one?

[2015-01-11 03:32] dbankier commented on #30
yep - all fixed though.

[2015-01-23 07:44] yuchi opened #31 "Strip “use strict” from code (3.5.0.GA)"
Looks like the new JSC bundled with Titanium SDK 3.5.0.GA is now JITing. Which is good news. The bad news is that this exposed a flaw in the optimized code that happens to be on strict mode (`"use strict"`).

As @jamesfalkner found on [smclab/liferay-connector](https://github.com/smclab/liferay-connector) and @rremy on smclab/ti-soap#3, in some specific cases we get the the following error:

    [

[2015-01-23 17:51] jhaynie commented on #31
we have made a significant upgrade to the latest shipping JSCore with iOS. have you narrowed it done to the specific place it's raising this issue yet?

[2015-01-23 22:58] yuchi commented on #31
Found the smallest reproducible test case. This is definitely an issue with strict mode for function scopes.

[code]

[code]

Should throw `undefined is not an object`, but we get `Attempted to assign to readonly property.` instead.

Not exposing the issue:

[code]

[code]

(by the way I just realized that `app.js` is probably wrapped in an iife)

[2015-01-23 23:25] yuchi commented on #31
Ooh. Found (probably) the issue behind `liferay-connector` failure.

On **Titanium SDK 3.5.0.GA**:
[code]

On every browser:

[code]

On Node.js:

[code]

This happen to be an issue with
- Titanium specific (but there’s no reason for these to be non-writable, except for `Kroll`)
  - `Kroll`
  - `require`
  - `L`
  - `alert`
- “Standard”
  - `setTimeout`
  - `setInterval`
  - `clearTimeout`
  - `cl

[2015-01-24 01:09] yuchi commented on #31
Version 1.1.0 automatically polyfills `{set,clear}{Timeout,Interval}` without overwriting the global ones. This temporary solution it’s ok for `liferay-connector`, but still doesn’t solve the `ti-soap` one.

[2015-01-27 16:29] jhaynie commented on #31
can you open a JIRA ticket under Ti Community project? https://jira.appcelerator.org/browse/TC/

Just link back to this message so that the team knows to assign it internally to the Ti Mobile group.

Thanks.

[2015-01-29 09:27] yuchi commented on #31
[[TC-5257] Globals are not (over)writable](https://jira.appcelerator.org/browse/TC-5257) created.

[2015-01-29 09:39] yuchi commented on #31
Also I discovered this funny `Object.getOwnPropertyDescriptor` behaviour for proxies: https://jira.appcelerator.org/browse/TIMOB-5818?focusedCommentId=341140&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-341140

[2015-01-29 09:47] yuchi commented on #31
And also this one for `String.format`: https://jira.appcelerator.org/browse/TC-5258

[2015-02-02 09:36] #29 closed

[2015-02-02 09:36] yuchi commented on #29
/cc @FokkeZB

[2015-02-02 10:48] yuchi commented on #30
`grunt-titaniumifier@1.1.0` adds a `bundle: boolean` options for this. I’ll do a PR for `nano` shortly.

[2015-02-02 10:48] #30 closed

[2015-02-23 15:09] yuchi commented on #22
We can now call `require('titaniumifier/packer').pack.getBundle` to get a Promise of a browserify bundle. APIs still are horrible. We’ll sort things out while working on the last point of the list.

/cc @tonylukasavage: we’re working on *npmifier* again, since we found how to modify the app JS resources without touching the *Resources* directory. [This is somewhat related][tw] ;)

[tw]: https://tw

[2015-02-23 18:19] #11 closed

[2015-02-23 18:20] yuchi commented on #11
Closing for inactivity. Gulp is used too little in the Titanium context to invest in a plugin for it.

We’ll reconsider once it gains popularity in our community.

[2015-02-23 18:24] yuchi commented on #31
Closing as we solved the main issues here.

[2015-02-23 18:24] #31 closed

[2015-02-27 10:21] yuchi commented on #25
Summoning @FokkeZB. Is there a normative guide in what a module should offer as documentation and examples and (more importantly) how?

I remember the Appc docs to be pretty elusive on the topic.

[2015-02-27 16:32] FokkeZB commented on #25
It's all on http://gitt.io/contributors

[2015-03-03 14:52] inakiabt opened #32 "Zip module issue"
I don't know if is my environment, but somehow when unzipping the zip file generated by `titaniumifier` with `grunt-zip` I get all files empty:
![_users_inakiabt_src_titanium_reste](https://cloud.githubusercontent.com/assets/606852/6464815/a4871620-c19b-11e4-90ec-35ebfb45e106.png)

Unzipping manually with `unzip` cli works as expected.

Here's my `Gruntfile.js`

[code]

I found that unzipping it w

[2015-03-03 15:26] yuchi commented on #32
That‘s very strange. [See here](https://github.com/smclab/titaniumifier/blob/master/Gruntfile.js#L33).

I’ll look into it.

[2015-03-03 17:08] inakiabt commented on #32
Yep. I'm also getting empty files for `module-a` and `module-c`.
Are you getting empty files too?

[2015-03-03 17:20] yuchi commented on #32
Argh. Yes.

[2015-03-03 17:31] yuchi commented on #32
The ‘culprit’ is in fact v0.4.7 of `adm-zip`. If you install v0.4.6 it works perfectly. I’ll look into it.

[2015-03-03 17:44] yuchi commented on #32
I’ll just fix the version to `0.4.6`. `adm-zip` is not enough solid.

`jszip` looks way less naïve, with actually working tests. I’ll move titaniumifier ASAP.

In the meanwhile you can work by running `npm install adm-zip 0.4.6`

[2015-03-03 18:41] inakiabt commented on #32
That worked :+1:

[2015-03-04 08:47] #32 closed

[2015-03-04 08:50] yuchi commented on #32
A clean install should work.

[code]

I also release v1.3.3 with the pinned `adm-zip` so you can `rm -rf node_modules && npm i` in the project you were working on and everything *should* work correctly.

Please let me know.

[2015-03-22 17:25] drmas opened #33 "NPM unable to install or build"
Due to missing dependency "ti-console@yuchi/ti-console", I was unable to install or build the library.

[2015-03-22 17:25] yuchi commented on #33
Could you please give me informations about Node and npm versions?

[code]

[2015-03-24 14:02] drmas commented on #33
[code]

[2015-03-29 19:13] yuchi commented on #33
The issue was probably related to the fact that I was using a forked version of `ti-console`.

I just published **v1.3.4**, could you please check if this actually solves this issue?

(I’m pretty optimist about that thing being the source of the issue so I’m gonna close this one, reopen if you feel like it is necessary please)

[2015-03-29 19:13] #33 closed

[2015-03-29 19:14] #22 closed

[2015-03-29 19:18] yuchi commented on #23
I think that @cb1kenobi and @pinnamur could help me on this.

As stated I have some code (written by reverse engineering TiStudio, sorry…) that already implements source maps in a *standard-ish* way.

Could we set up a call or something to discuss this?

[2015-04-03 13:34] FokkeZB opened #34 "The generated package.json has a "main" script that doesn't exist"
Reading https://github.com/FokkeZB/ti-html2as/issues/14 I saw that indeed https://github.com/FokkeZB/ti-html2as/blob/master/example/modules/commonjs/nl.fokkezb.html2as/1.2.0/package.json has `index.js` for `main` while that should be `nl.fokkezb.html2as.js`.

[2015-04-03 13:37] yuchi commented on #34
It shouldn’t be read at all :confused:

does that mean than on *mobileweb* the app reads *package.json* files?

[2015-04-03 13:48] FokkeZB commented on #34
I guess, or at least assumes index.js. It would be an easy fix I guess to just set `main` to the actual "main" script ;)

[2015-04-03 13:50] yuchi commented on #34
Yeah and it should the the right thing to do since the resulting zip can be considered as an actual package where the `main` is not the old one anymore.

[2015-04-03 13:51] yuchi commented on #34
I’ll solve in hours.

[2015-04-06 09:30] FokkeZB commented on #34
How may of those? :stuck_out_tongue:

[2015-04-06 09:32] yuchi commented on #34
A lot of them!

[2015-04-06 09:36] #34 closed

[2015-04-06 09:38] yuchi commented on #34
Version `1.4.0` is out and should have fixed this issue.

You need to rebuild the module.

(Sorry for the wait)

[2015-04-06 17:41] FokkeZB commented on #34
Thx!

[2015-06-23 17:21] AndreaV88 opened #35 "Requiring alloy modules"
There's no way to require, inside my module, "alloy/animation"?
If I try to build my custom module and, obviously, the build process failed with this message

[code]

[2015-06-23 17:26] yuchi commented on #35
You can actually work around this issue by saying that it’s a member of `nativeDependencies` in the *package.json*. It **should** let you require files not in scope.

[2015-06-23 17:36] AndreaV88 commented on #35
The build process now complete successfully with this directive in _package.json_

[code]
but.. when I try to use this module inside a test application, this one crash with this error:

[code]

[2015-06-23 17:38] yuchi commented on #35
Super strange. That's not a *titaniumifier* issue anymore. What's that module? Are you sure it's there?

[2015-06-23 17:41] AndreaV88 commented on #35
I've to package a module that use [Builtin Titanium Animation](http://docs.appcelerator.com/platform/latest/#!/api/Alloy.builtins.animation) and I require it as per the docs! How can I solve? Thank you!

[2015-06-23 17:47] yuchi commented on #35
Looks like it's one of those pieces of the std alloy library that gets loaded only if it is found to be required, and looks like alloy doesn't check modules for such `require` calls.

Could you try to add `require('alloy/animation')` somewhere in the app and see if it works?

[2015-06-23 17:51] AndreaV88 commented on #35
In _index.js_ (where I'm trying my _titaniumified-module_) I tryied:

[code]

and into console i see "horizontal" as expected.

[2015-06-23 17:56] yuchi commented on #35
And does loading the module works now?

[2015-06-23 18:01] AndreaV88 commented on #35
No, I'll explain in details what I have.
Into __index.js of the module__ that I have to _tianiumify_ there is:
[code]

When I _titaniumify_ it and load into the test application the error
[code]
occurs.

If I try to normally require the ```alloy/animation``` into __index.js of application__ there's no problem.

[2015-06-23 18:03] yuchi commented on #35
Are both a normal, working require and the module on the same app?

What I'm guessing is that if you don't require it in the app (outside modules) the module is not injected in the 'compiled' *Resources* dir.

[2015-06-23 18:15] AndreaV88 commented on #35
Exactly now it works! Thank you!

[2015-06-23 18:15] #35 closed

[2015-07-23 14:23] yuchi commented on #25
@FokkeZB But does it have any meaning to have them in the zipfile?

[2015-07-27 07:04] yuchi opened #36 "Support for platform dependent files"
Support for files such as `app.ios.js`, `app.windows.js` etc.

[2015-08-02 05:04] FokkeZB commented on #25
How do you mean? It will simply look for an examples folder after extracting the module and then create a project to wrap it in.

[2015-08-03 07:48] #25 closed

[2015-09-01 16:17] AppWerft opened #37 "Using of external modules"
Hi,

in my TiJSPDF project I want tho embed external module. In index.js it is a reference [to the module](https://github.com/AppWerft/TiJSPDF/blob/master/index.js#L3387).

In [configuration.json](https://github.com/AppWerft/TiJSPDF/blob/master/package.json#L20) is a "link".

If I start titaniumifier I got an error:
[code]

What I have to do to solve it?

[2015-09-01 16:23] yuchi commented on #37
The *package.json* file is part of the CommonJS specification, and further refined by Node.js and has become the *de-facto* standard package definition for JavaScript packages. It is **not** related to Titanium™ SDK in any way, it’s Titaniumifier that bridges the environments.

The *package.json* file of a *titaniumified* package still retains all the meanings of a normal Node/browser/CommonJS pac

[2015-09-01 16:23] #37 closed

[2015-09-01 16:25] yuchi commented on #37
Anyway, sorry if I looked spiffy in that comment, I just wanted to make it clear for future reference.

By the way, I see that [the package you depend on](http://gitt.io/component/de.appwerft.qrcode) it’s itself titaniumified. You could publish it through npm so other packages can depend on it regardless of the user having it installed in the app source (either manually or automatically through gi

[2015-09-01 16:42] AppWerft commented on #37
Thanks, now "zip correctly built"

[2015-09-01 17:28] yuchi commented on #37
Sorry @AppWerft, may I ask you a favor? Could you check if an answer to your situation is present in the [Wiki](https://github.com/smclab/titaniumifier/wiki)? If you don’t find it, where would you place it? Also, if you didn’t know that there’s the Wiki as docs, where would search for them? Where **did** you search them?

(I cannot do this check by myself because I would spoil the test as I know t

[2015-09-01 19:02] AppWerft commented on #37
Sorry I don't found am answer in your very good wiki and and therefore I asked here.

[2015-09-01 19:03] yuchi commented on #37
Where would you expect it to be? Sorry for the questions but it's so hard to get users feedback :,,(

[2015-09-01 19:08] AppWerft commented on #37
On this [page](https://github.com/smclab/titaniumifier/wiki/Anatomy-of-a-project) (in the chapter *Dependencies*) I would expects more detailed description for which cases the keys stand it for

[2015-09-01 19:10] yuchi commented on #37
Thank you! I will!

[2015-09-01 22:31] yuchi opened #38 "Refactor transforms"
We diverged from browserify, and it’s not good.

[2015-09-23 12:53] AppWerft opened #39 "linking to submodules"
Hello,

how can I link modules as submodule.

https://github.com/AppWerft/Ti.YoutubeProxy

Cheers!

Rainer

[2015-09-23 13:03] yuchi commented on #39
We extended the *package.json* spec to include references to native packages. It follows the shape of the other deps declarations:

[code]

You get 2 boosts from using this notation:

1. you can `require()` them and the call will pass to the Titanium implementation, therefore requiring the actual module, and
2. once published, when your module is installed through gitTio it will also pull those mo

[2015-09-23 13:04] yuchi commented on #39
I hope it solves you issue. Re-open if you feel it's necessary.

[2015-09-23 14:06] AppWerft commented on #39
I have embedded by
[code]

In my module I have to use:
[code]
Without this double reference the modules are not found.

videoprovider depends on twice subsubmodules and now this subsub modules are not found:
[code]

Any ideas?

[2015-09-23 15:48] yuchi commented on #39
Ok. So, first of all lets force some terms in the discussion:
* **Titanium module** a zipfile that can be installed through Studio, gitTio or manually
* **package** a directory that, if placed inside *node_modules* and has a *package.json*, can be `require()`d in JS that uses Node style require; can be installed with npm, jspm or manually.

If you want to use Titanium modules in your titaniumified

[2015-09-23 15:50] yuchi commented on #39
I'm reopening as I'm pretty sure I'm not hitting your scenario 😖

I'll have a look at the source and try to be more specific and on point.

[2015-11-10 09:35] sobytes opened #42 "Trying to titaniumifier AWS node sdk"
Hi All,

I am trying to use titaniumifier to package the AWS sdk as a common js module think this would be awesome in Appcelertor.

So i have downloaded the AWS sdk from here.

https://github.com/aws/aws-sdk-js

And unzipped cd into the project and ran.
[code]

But i am getting the following errors.

[code]

Would love some help on this thanks.

[2015-11-10 09:54] caspahouzer commented on #42
Having the same issue with https://github.com/dmcquay/node-apac

[2015-11-10 10:00] yuchi commented on #42
You need to specify one on the package.json. See the Wiki, on the *Getting Started* to understand what to do.

[2015-11-10 10:00] #42 closed

[2015-11-10 10:24] sobytes opened #43 "Error building module throw e; ^"
Hi All,

So i have read through the docs i have created a folder on my desktop called sobytes-aws and i have ran npm init and run through the installation.

my package.json now looks like this i have added the guid from the first run.
[code]

now i have ran titaniumifier with the following.
[code]

And i get the following error.
[code]

Any suggestions?

[2015-11-10 10:44] sobytes commented on #43
Ok so i am getting passed that error now and i am getting.

[code]

I have ran.
[code]

Which i am not sure if it is related to this.
https://github.com/mapbox/streambot/issues/21

[2015-11-10 11:18] yuchi commented on #43
You need to download all the dependencies of a module before you can titaniumify it.

[2015-11-10 11:37] sobytes commented on #43
Thanks @yuchi that worked ;)

[2015-11-10 11:39] yuchi commented on #43
Thank you for using Titaniumifier!

[2015-11-10 12:04] sobytes commented on #43
Thanks just a quick note i am getting the error when running the module.

[code]

But i assume this is down to the aws sdk so i am debugging now.

https://s3.amazonaws.com/samuel.east/aws-sdk-commonjs-2.2.15.zip

[2015-11-10 12:06] yuchi commented on #43
Close this issue of the specific problem has been solved. If you encounter any other issues please report them. Full compatibility is not a goal of the project, but somehow we try to achieve it.

[2015-11-14 11:23] falkolab opened #44 "nativeDependences if dependent module has different version for each platform"
How I can define nativeDependences property for this situation?
For example `com.geraudbourdin.svgview`.

[2015-11-14 11:36] yuchi commented on #44
I think you can use the gitTio form "name:platform" for the name of the module. Can you test it please?

[2015-11-14 13:15] falkolab commented on #44
But which version I must set to nativeDependeces 1.0.1 (Android) or 1.0.2 (iPhone) ?
If I set 1.0.2 than gittio not find this vestion for android?
If I set 1.0.1 than gittio will install old vestion for ios?

[2015-11-14 13:18] yuchi commented on #44
Ok, as you can see at [this line](https://github.com/FokkeZB/gittio/blob/c305b7f82d98ef5dd1cc70da0db37d8718a65846/lib/gittio.js#L381) gitTio merges what we place in `nativeDependencies` into an object that expects the form of an Alloy Widget dependencies.

Bad news: we intentionally not supported different version of a module, see [this comment](https://github.com/FokkeZB/gittio/pull/86#issuecomme

[2015-11-14 13:21] yuchi commented on #44
Something like `^1.0.1` would do the job ;)

[2015-11-14 13:30] falkolab commented on #44
Yes but when I need set min supported version it will not work. :(

[2015-11-14 13:57] yuchi commented on #44
Mh... can you explain more precisely what you want to accomplish?

[2015-11-14 15:04] falkolab commented on #44
For example: I am developing a `commonjs` module for both platform.
And one dependent module for `iphone` has significant changes in version 1.0.2. But Android version for this module has max version 1.0.1.
Then I can't set version to ~1.0.1 because my module will not work if user already has installed ios module with version 1.0.1

[2015-11-14 15:09] falkolab commented on #44
One solution I think will be  link to `git` repo but I not sure that it will be work with gittio.

[2015-11-14 16:00] yuchi commented on #44
The module developer did two main errors:
1. Update the build part of semver of the module instead of the minor;
2. Not keeping in sync the two platform modules’ versions (modules versions are contracts!)

You need to somehow explicitly tell in the README that you require (at least) that specific version of the module.

[2015-11-14 16:00] #44 closed

[2015-11-14 16:01] yuchi commented on #44
I’m sorry to ping-pong you, but this is an issue on how you manage dependencies and module resolution on gitTio… :(

[2015-12-28 17:16] #43 closed

[2015-12-28 17:17] yuchi commented on #39
Did you solve your issue?

Please re-open if you feel this is not ‘closed’ :)

[2015-12-28 17:17] #39 closed

[2015-12-28 17:18] yuchi commented on #23
Ping @cb1kenobi and @pinnamur

How is going with Source Maps support on Appcelerator Studio?

[2015-12-28 18:10] cb1kenobi commented on #23
@yuchi No idea. Not really my department today. I feel this will be approaching my radar in the coming months.

[2015-12-28 18:13] yuchi commented on #23
Would be so happy to see support for source maps coming from arbitrary places and source processing.

Could you mention/invoke/ping someone that could help?

To be honest I'm pretty tired of pushing this topic again and again :,(

[2016-02-17 17:04] annakozy2011 opened #45 "I cannot install it because of errors"
annakozy$ sudo npm install --global titaniumifier
Password:
npm WARN deprecated guid@0.0.12: Please use node-uuid instead. It is much better.
/usr/local/etc/bin/install-titaniumifier-plugin -> /usr/local/etc/lib/node_modules/titaniumifier/bin/install-titaniumifier-plugin
/usr/local/etc/bin/titaniumifier -> /usr/local/etc/lib/node_modules/titaniumifier/bin/titaniumifier

gyp WARN EACCES user "root"

[2016-02-17 17:05] annakozy2011 commented on #45
Annas-iMac:~ annakozy$ node --version
v5.0.0

[2016-02-17 17:07] annakozy2011 commented on #45
npm-debug.log
[npm-debug.log.zip](https://github.com/smclab/titaniumifier/files/134795/npm-debug.log.zip)

[2016-02-17 17:43] nitrag commented on #45
You might have the same issue I had where I couldn't install npm without "sudo". Run these two commands:

[code]

then try to re-install normally.

[2016-02-17 17:46] yuchi commented on #45
Yeah possibly unrelated directly to Titaniumifier.

You can also try it by doing:

[code]

[2016-02-17 17:50] nitrag opened #46 "Parse"
Hi, I'm so excited for this!!!! I'm trying to create a commonjs module for Parse+Titanium to contribute to the community.

Can you help me with the conversion?

1. Download SDK from [source](https://github.com/ParsePlatform/Parse-SDK-JS).
2. "cd" to downloaded zip
3. "node install"
4. install titaniumifier if not already
5. run titaniumifier

Log:
[code]

[2016-02-17 18:07] yuchi commented on #46
If you have a look at the source of the Parse SDK you’ll see that there’s no `lib` folder in there.
That’s because they have a compilation process in the middle, a *build phase* you need to run before being able to build your module.

In this [specific case](https://github.com/ParsePlatform/Parse-SDK-JS/blob/8f55741bfc1f222101380109d6f5025d7137993c/package.json#L52) you can do the following:

[cod

[2016-02-17 18:09] yuchi commented on #46
I just noticed that `npm run build` will do way more than you need.
You *probably* should do `gulp compile` instead.

I’ll close this, but we can continue to talk here if you need more help.
If you find something that looks like a Titaniumifier’s bug, please reopen this issue or create a new one as you please.

[2016-02-17 18:09] #46 closed

[2016-02-17 18:35] nitrag commented on #46
Ok that worked thank you. The result is attached. It still has the requires('./lib') files. That won't work in titanium right?

[parse-commonjs-1.7.0.zip](https://github.com/smclab/titaniumifier/files/134923/parse-commonjs-1.7.0.zip)

[2016-02-17 18:37] nitrag commented on #46
I tried ```gulp browserify``` and that produced what looks like an es6 package in a single file with no requires. Which seems closer to what I'm looking for but the es6 is not helpful.

[parse-latest.js.zip](https://github.com/smclab/titaniumifier/files/134936/parse-latest.js.zip)

[2016-02-17 18:41] yuchi commented on #46
In Titanium you are able to `require()` only things that are actually in your `Resources` (in Classic) or `app` (in Alloy) apps. Titaniumifier solves that for you by creating a single file, very similar to the one in your last comment.

So, in short, the *parse-commonjs-1.7.0.zip* you attached should work, **if the code itself works**. Titaniumifier can only solve the `require` problems and polyfi

[2016-02-19 13:46] mrlundis commented on #45
@annakozy2011 @yuchi I'm having this exact issue, and it seems that installing titaniumifier pulls in `adm-zip@0.4.6` which in turn depends on the failing package (`fidonet-mailer-binkp-crypt`).

[2016-02-19 13:58] yuchi commented on #45
I definitely have to take a stance on this. Last time i checked the latest `adm-zip` didn’t worked completely.

[2016-02-19 14:11] mrlundis commented on #45
Zip builds have been failing randomly for us on very rare occasions in earlier versions as well.. How about dropping adm-zip entirely if its causing all these problems? Package seems to be unmaintained.

[2016-02-19 14:19] annakozy2011 commented on #45
I´m still following this thread, but I´ll try a bit later, as that thing I need to titaniumify, probably won´t start for another week or so

[2016-02-19 14:20] mrlundis commented on #45
Me too. I've reverted to titaniumifier@1.4.1 on Node 0.12 for the time being.

[2016-02-19 14:21] yuchi commented on #45
@mrlundis you have no idea how gladly I would accept a PR on this. Any idea on a substitute?

@annakozy2011 sorry for the delay

[2016-02-19 14:29] mrlundis commented on #45
I'm thinking that building the module dir on disk and zipping it through `zip` in the shell might be a good enough solution. As least as long as Windows support isn't a priority..

[2016-02-19 14:33] mrlundis commented on #45
`infozip` seems to wrap these commands in a tidier fashion. Then theres also `zip-stream` - could be a good replacement.

[2016-02-27 21:10] falkolab commented on #45
Same issue. Also I can't install to the local package

[2016-03-01 13:42] mrlundis commented on #45
Can't get titaniumifier@1.4.1 to work now either. I looked in to fixing the zip generation but ended up replacing everything with webpack + babel instead (which we already use for the web-facing parts of the app.)

Before we used titaniumifier as a build step through alloy.jmk to pull in code to the app. Now instead of building modules with titaniumifier, unziping them, and so on, we simply copy t

[2016-03-04 20:04] falkolab commented on #45
@yuchi Do you plan to fix it?
I changed adm-zip version to `^0.4.7` and able to install titaniumifier.
But I got error:

[code]

[2016-03-04 20:30] yuchi commented on #45
@falkolab This weekend I'll tackle it and switch to another zip implementation.

@mrlundis Titaniumifier goal is to build distributable modules, but under the hoods does that same thing. You can retain all the functionality by using the `bare` option. I'll check it later, and back up this info.

[2016-04-11 08:29] gimdongwoo commented on #45
@falkolab
cp /usr/local/lib/node_modules/titaniumifier/lib/util/prelude.js /usr/local/lib/node_modules/titaniumifier/lib/util/_prelude.js
It works.

[2016-04-11 08:31] falkolab commented on #45
@gimdongwoo will begin on other issues. I do not remember what

[2016-04-13 19:54] yuchi commented on #45
Should be solved by 200dae2e7d31262945346badb5eb6ab579bd06fe
Released as `titaniumifier@1.5.1`, you should be able to install it without any issue

[2016-04-13 19:54] #45 closed

[2016-04-15 13:12] gimdongwoo commented on #45
Thank you!!

[2016-04-15 13:30] yuchi commented on #45
Thank ***you*** guys with your patience.

[2016-12-26 13:41] pedrotnascimento opened #48 "Problem trying to titaniumifier sendemail"
Hello,
I tried to titaniumifier sendemail(https://www.npmjs.com/package/sendmail) and the follow error was given:
(...error in \bluebird\js\main\promise.js:680)
Error:  Cannot find module './dist-tools/transform.js'
(..stacktrace)

So I copied the dist-tools inside ./node_modules/aws-sdk/dist-tools to ./node_modules and it worked but failed in:
module.js:327
    throw err;
    ^
Error: Cannot find

[2016-12-26 18:36] yuchi commented on #48
Well, that could actually be an issue with _titaniumifier_ but you’ll have a hard time making `sendmail` work. The biggest issue is that it requires the `net` built-in module which cannot easily be polyfilled in Titanium.

Also I suggest you **not** to send emails from an app since that wouldn’t work with most anti-spam filters. But this is a completely unrelated issue.

[2016-12-26 18:36] #48 closed

[2017-09-01 10:42] yuchi commented on #38
Closing for obsolescence

[2017-09-01 10:42] #38 closed

[2017-11-08 15:55] yuchi commented on #19
Close for inactivity

[2017-11-08 15:55] #19 closed

[2017-11-08 15:55] yuchi commented on #23
Close for inactivity

[2017-11-08 15:55] #23 closed

[2017-11-08 15:55] yuchi commented on #36
Close for inactivity

[2017-11-08 15:55] #36 closed

[2017-12-12 14:40] chmiiller opened #49 "Uncaught SyntaxError"
Hi @yuchi thanks for Titaniumifier.
We've been using a module we "titaniumfied" a while ago but it stopped to work on Android with Titanium SDK 6.3.0.GA.
I can successfully titaniumify the node package but when I require it on Android I get this:
[code]
The package is this one https://www.npmjs.com/package/html-to-text and attached follows the generated JS file.
Please let me know if there is some

[2017-12-12 16:48] yuchi commented on #49
This is terribly strange… don’t you have some more information to give us?

/cc @Robbe92

[2019-04-09 15:43] #49 closed

[2019-10-29 14:53] chmiiller opened #51 "Support for SDK 8.x?"
When I try to use my previously titaniumified module on Android with Titanium SDK 8.x I get an:

[code]
error. I have no idea where this is coming from since I can't find anything called `sourceUrl` in any code in my project. Does anyone have an idea on how to fix it?
Thanks!

[2019-11-21 08:53] yuchi commented on #51
@Robbe92 can you please a look at this? (@chmiiller sorry for the delay)

[2019-11-21 10:25] chmiiller commented on #51
No problems, thanks for having a look at this.
We made some progress and it appears that loading modules from a function scope is the problem on Android and something in Titanium 8.x has changed with how modules are scoped and what kind of objects they can reference.

Here is what a colleague of mine found out so far:

It might be something to start with ¯\_(ツ)_/¯

[2019-11-21 15:47] Robbe92 commented on #51
Thanks Carlos,
very interesting bug and solution!
Did you open issue to axway?

[2019-11-21 16:09] chmiiller commented on #51
It is still not working, and I'm not sure if this is something that Axway can help me with but I've sent it all to an Axway developer, let's see if he has something to add to it later

[2019-11-27 12:42] chmiiller commented on #51
Update: Jan from Axway found out that the code from Titaniumifier produces require() with a second argument, true, which is causing the problem somehow. Here is what he's found so far:
https://jira.appcelerator.org/browse/TIMOB-27633

[2021-10-28 08:11] Astrovic opened #52 "Support for newer node versions"
I know this tool is old now, however I use it successfully to generate this module https://github.com/Astrovic/TiDropboxAPIv2
There is only one problem: every time I have to switch to node 8.x to make it work. If I use a higher version, I get the error attached below.
Would it be possible to fix it? Thanks anyway 👍

[code]

[2022-01-24 15:43] ULSashido commented on #52
Having same issue, I assume the bluebird npm needs a newer version

[2022-01-25 16:05] yuchi commented on #52
This is what is required to make tests pass.

[code]

[2022-01-25 21:03] yuchi commented on #52
(By the way adding `grunt-cli` and `mocha` is required because both npm and Yarn nowadays do not install peer dependencies automatically for you)

[2022-01-25 21:14] #52 closed, assigned to nobody

[2022-01-26 00:03] yuchi commented on #52
@Astrovic @ULSashido please use version 1.5.2. I briefly tested them on node 12 and 14, and tests passed.

[2022-01-26 00:35] yozef commented on #52
Much appreciated guys!

[2022-01-26 16:55] Astrovic commented on #52
Thanks a lot @yuchi!